body {
    background-color: black;
}

h1 {
    color: white;
    font-size: larger;
    border: 5px;
    border-color: aliceblue;
}

#quiz {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}